
<div class="contacts p-4">
    <div class="row d-md-flex justify-content-center">
        <div class="col-md-2">
            <p class="contact-title text-muted">Contact</p>
            <a href="#"><i class="fa-solid fa-house-user me-1"></i>Ashkona (Near Haji Camp),Dhaka</a>
            <a href="#"><i class="fa-solid fa-envelope me-1"></i> Email:info@nub.ac.bd</a>
            <a href="#"><i class="fa-solid fa-phone-flip me-1"></i> Tel: 9821493-7,& 9898521,Ext-400,Ext-401,Ext-402</a>
            <a href="#"> 
              <i class="fa-solid fa-address-book me-1"></i>Phone:01755514661,
              01755514650,01755514651,
              01755514652</a>
     
        </div>
        <div class="col-md-2">
            <p class="contact-title text-muted">Quick Links</p>
            <a href="#">Nub Forms</a>
            <a href="#">Research</a>
            <a href="#">Job Openings</a>
            <a href="#">Office Mail</a>
            <a href="#">Sexual harassment
              committee
            </a>
            

        </div>
        <div class="col-md-2">
            <p class="contact-title text-muted">Other Links</p>
            <a href="#">Newspaper Articles</a>
            <a href="#">Seminar Papers</a>
            <a href="#">Journal</a>
            <a href="#">Newsletters</a>
            <a href="#">Download Brochure</a>

        </div>
        <div class="col-md-2">
            <p class="contact-title text-muted">Administration</p>
            <a href="#">Administrative Staffs</a>
            <a href="#">IT Department</a>
            <a href="#">NUB Backoffice ERP</a>
            <a href="#">NUB Academic ERP</a>
            
        </div>
        <div class="col-md-2">
            <p class="contact-title text-muted">Important Links</p>
            <a href="#">Online Admission</a>
            <a href="#">Alumni Association</a>
            <a href="#">Photo Gallery</a>
            <a href="#">Short Courses</a>
            <a href="#">PhD Research</a>

        </div>
    </div>
  </div>
  <div class="footer p-2">
    <code class="text-muted">Developed By Lavender IT</code>
  </div>

 





