<div class="header-section">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <img src="/img/v2.png" alt="logo" height="70" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                About NUB
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/about">About NUB and OUR History</a></li>
                <li><a class="dropdown-item mt-2" href="/vision">Vision and Mission</a></li>
                
                <li>
                  <a class="dropdown-item mt-2" href="/msgc">Message from the Chairman</a>
                </li>
                <li>
                  <a class="dropdown-item mt-2" href="/msgvc">Message from the VC</a>
                </li>
                <li>
                  <a class="dropdown-item mt-2" href="/faculty">Faculties</a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Academic
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Academic Programs</a></li>
                <li><a class="dropdown-item mt-2" href="#">Academic System</a></li>
      
              <li>
                  <a class="dropdown-item mt-2" href="#">Academic Regulations</a>
                </li>
                <li><a class="dropdown-item mt-2" href="#">Academic Calender</a></li>
                <li><a class="dropdown-item mt-2" href="#">faculty Members</a></li>
                <li><a class="dropdown-item mt-2" href="#">NCST</a></li>
                <li><a class="dropdown-item mt-2" href="#">IQAC</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Admission
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Admission Information</a></li>
                <li><a class="dropdown-item mt-2" href="#">Why Study at NUB</a></li>
                
                <li>
                  <a class="dropdown-item mt-2" href="#">Online Admission</a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Campus Life
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Student Affairs Department</a></li>
                <li><a class="dropdown-item mt-2" href="#">Cafeteria</a></li>
                <li><a class="dropdown-item mt-2" href="#">Fitness Center</a></li>
                <li><a class="dropdown-item mt-2" href="#">Library</a></li>
                <li><a class="dropdown-item mt-2" href="#">Learning resources</a></li>
                <li><a class="dropdown-item mt-2" href="#">Teaching Methodology</a></li>
                <li><a class="dropdown-item mt-2" href="#">Other Facilities</a></li>
                <li>
                  <a class="dropdown-item mt-2" href="#">Photo Gallery</a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Management
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Board of Trustees</a></li>
                <li><a class="dropdown-item mt-2" href="#">Syndicate</a></li>
                <li><a class="dropdown-item mt-2" href="#">Academic Council</a></li>
                <li><a class="dropdown-item mt-2" href="#">Executives</a></li>
                <li>
                  <a class="dropdown-item mt-2" href="#">NUB Chancellor and TOP Executives</a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link" aria-current="page" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
