<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Message from chairman</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/css/tanim.css">

  <link rel="stylesheet" href="/css/msg_chairman.css">
</head>

<body>
  <div class="top-header">
    <ul>
      <li><a href="#">student load</a></li>
      <li><a href="#">online admission</a></li>
      <li><a href="#">registration package</a></li>
      <li><a href="#">Library</a></li>
      <li><a href="#">student portal</a></li>
      <li><a href="#">alumni</a></li>
      <li><a href="#">publication</a></li>
      <li><a href="#">degree verification</a></li>
      <li><a href="#">vaccine</a></li>
    </ul>
    <div class="social-links">
      <a href="#"><i class="fa-brands fa-square-facebook mx-2 text-light"></i></a>
      <a href="#"><i class="fa-brands fa-youtube mx-2 text-light"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin mx-2 text-light"></i></a>
    </div>
  </div>

  <%- include('./partials/navbar.ejs') %>

  
  <!-- page content -->
<div class="div2">

  <div class="maindiv">
    <h3 class="py-4">MESSAGE FROM THE CHAIRMAN</h3>
    <div class="div1 d-md-flex">
      <div class="image">
        <img src="/img/chairman.jpg" alt="">
      </div>

      <div class="content">

        <h5>Message from the Chairman</h5>
        <p class="chairman text-muted">
          Prof. Dr. Abu YousufMd Abdullah was born in Satkhira and studied at Jhenidah Cadet College. He completed his
          graduation from Dhaka University and MBA from the Institute of Business Administration (IBA) under the
          University of Dhaka (DU). He obtained his INTERNATIOAL MBA from Helsinki School of Economics and Business
          Administration, Finland. He perused his International MBA also from the Graduate Business School of the
          University of Texas at Austin, Texas, U.S.A. After returning from the U.S.A, he joined IBA as a Lecturer and
          obtained his PhD from the University of Dhaka. He has been actively involved in teaching for more than 22
          years at IBA.</p>



      </div>
    </div>

    
      <p class="down text-muted">
      <h6>A Message From The Chairman</h6>
      It is with great pride and immense pleasure that I watch Northern University Bangladesh as it treads to attain the
      highest ranking status with its center of excellence in the field of higher education in Bangladesh. The 17
      October 2002 marked the beginning of a trailblazing journey for this prestigious institution along with a group of
      highly qualified and illustrious educationists of the country. Since then, these educationists have been
      tirelessly working towards one goal- to provide higher education to the citizens of the nation that is at par with
      globally accepted standards in a dynamic academic landscape.
      <br><br>
      When I had taken on the role as Chairperson, Northern University Bangladesh Trust, I felt incredibly humbled and
      inspired to see that an institution can consistently produce a service/product that is not only deemed to be of
      premium quality in the higher education arena and cater to only some of our brightest minds, yet also keep higher
      education within the reach for students who come from modest economic backgrounds. To do so is not an easy task,
      as it requires a constant focus on the rapid changes that is resultant from the combined forces of tremendous
      technological advancement and free enterprise. Everything from radical innovations in communications, the
      explosion of the WORLD WIDE WEB, the opening of several new avenues for commerce such as Event management,
      Activation, Direct marketing, Business Process Outsourcing and many more, has completely changed the face of the
      global economy. This has resulted in us finally being classified as world citizens. Taking all these elements into
      account, I commend the Vice Chancellor and our team of highly qualified staff & teachers, for effectively keeping
      in pace with these changes. Needless to say, without their efforts to keep up with the rest of the world, we as a
      nation would seriously fall behind.
      <br><br>
      At Northern University Bangladesh, we aim to provide our student with an education that is absolutely relevant to
      today’s world and constantly update our curricula to incorporate them. We believe in providing higher education
      that will not only equip the student with all the necessary tools and skills to excel in their chosen fields but
      that which can also facilitate innovation leading towards socio-economic empowerment, which will subsequently
      build a brighter future for Bangladesh as a nation.
      <br><br>
      To the future students of Northern University Bangladesh, make use of this time at your university to explore your
      talents, seize the day everyday at NUB and absorb all the knowledge you may receive from our capable teachers.
      This is a crucial time in your lives where you decide how you plan to navigate your journey in life and who you
      wish to be. I would like to implore our younger generation to keep in mind that in their future lives and careers,
      it is imperative to remember that they have a duty towards their country and that they must incorporate social
      responsibility into their future endeavors. This will not only benefit them as individuals by building character,
      but will benefit society as a whole.
      <br><br>
      <b class="text-muted">Prof. Abu Yousuf Md. Abdullah PhD <br></b>


      Chairman, NUB TRUST. <br>
      The Governing Body of, <br>
      Northern University Bangladesh.
      </p>
    </div>
  </div>









  <!-- contact sction -->



  <%- include('./partials/contact.ejs') %>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- text animation -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src="js/tanim.js"></script>
</body>

</html>