*{
margin: 0;
padding: 0;

}
.maindiv{
margin-left: 190px;
margin-top: 30px;
margin-bottom: 100px;
text-align: justify;
}
.know{
    margin: 0;
}
.content_nub{

margin: 0;
}
.div1{
    max-width: 90%;
}
